<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        
        <a class="navbar-brand"
           asp-controller="Home"
           asp-action="Index">
            GB.AspNetMvc
        </a>

        <ul class="nav col-12 col-md-auto mb-auto justify-content-center mb-md-0">
            <li>
                <a class="nav-link text-dark"
                   asp-controller="Home"
                   asp-action="Index">
                    Home
                </a>
            </li>
            <li>
                <a class="nav-link text-dark"
                   asp-controller="Catalog"
                   asp-action="ProductsList">
                    Список продуктов
                </a>
            </li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

@*        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>*@
    </header>
</div>