@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p><a href="https://gb.ru">GeekBrains</a>: 3-я четверть. Веб-разработка с ASP.NET MVC Core.</p>
</div>
